// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/theming/

/** Ionic CSS Variables **/
:root {
  color-scheme: light;
  --ion-font-family: Inter, ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont, "SF Pro Display", "Segoe UI", sans-serif;
  --ion-background-color: #e6f6ff;
  --ion-background-color-rgb: 230, 246, 255;
  --ion-text-color: #152f4d;
  --ion-text-color-rgb: 21, 47, 77;

  /** primary **/
  --ion-color-primary: #687d65;
  --ion-color-primary-rgb: 104, 125, 101;
  --ion-color-primary-contrast: #fff8ea;
  --ion-color-primary-contrast-rgb: 255, 248, 234;
  --ion-color-primary-shade: #5c6e59;
  --ion-color-primary-tint: #778a74;

  /** secondary **/
  --ion-color-secondary: #a8b99e;
  --ion-color-secondary-rgb: 168, 185, 158;
  --ion-color-secondary-contrast: #453b31;
  --ion-color-secondary-contrast-rgb: 69, 59, 49;
  --ion-color-secondary-shade: #94a38b;
  --ion-color-secondary-tint: #b1c0a8;

  /** tertiary **/
  --ion-color-tertiary: #d5aa8c;
  --ion-color-tertiary-rgb: 213, 170, 140;
  --ion-color-tertiary-contrast: #453b31;
  --ion-color-tertiary-contrast-rgb: 69, 59, 49;
  --ion-color-tertiary-shade: #bb967b;
  --ion-color-tertiary-tint: #d9b398;

  /** success **/
  --ion-color-success: #2dd36f;
  --ion-color-success-rgb: 45, 211, 111;
  --ion-color-success-contrast: #ffffff;
  --ion-color-success-contrast-rgb: 255, 255, 255;
  --ion-color-success-shade: #28ba62;
  --ion-color-success-tint: #42d77d;

  /** warning **/
  --ion-color-warning: #f1cb83;
  --ion-color-warning-rgb: 241, 203, 131;
  --ion-color-warning-contrast: #453b31;
  --ion-color-warning-contrast-rgb: 69, 59, 49;
  --ion-color-warning-shade: #d4b374;
  --ion-color-warning-tint: #f2d08f;

  /** danger **/
  --ion-color-danger: #eb445a;
  --ion-color-danger-rgb: 235, 68, 90;
  --ion-color-danger-contrast: #ffffff;
  --ion-color-danger-contrast-rgb: 255, 255, 255;
  --ion-color-danger-shade: #cf3c4f;
  --ion-color-danger-tint: #ed576b;

  /** dark **/
  --ion-color-dark: #453b31;
  --ion-color-dark-rgb: 69, 59, 49;
  --ion-color-dark-contrast: #fff8ea;
  --ion-color-dark-contrast-rgb: 255, 248, 234;
  --ion-color-dark-shade: #3d342b;
  --ion-color-dark-tint: #584f46;

  /** medium **/
  --ion-color-medium: #847364;
  --ion-color-medium-rgb: 132, 115, 100;
  --ion-color-medium-contrast: #fff8ea;
  --ion-color-medium-contrast-rgb: 255, 248, 234;
  --ion-color-medium-shade: #746558;
  --ion-color-medium-tint: #908174;

  /** light **/
  --ion-color-light: #fff8ef;
  --ion-color-light-rgb: 255, 248, 239;
  --ion-color-light-contrast: #453b31;
  --ion-color-light-contrast-rgb: 69, 59, 49;
  --ion-color-light-shade: #e0dad2;
  --ion-color-light-tint: #fff9f1;
}
